/*===================================================================================*/
/*  Sticky Header
/*===================================================================================*/

.sticky-wrapper{
	.stuck {
		position: fixed;
		top: 0px;
		width: 100%;
		z-index: 100;
	}
}

.admin-bar {
	.sticky-wrapper {
		.stuck {
			top: 32px;
		}
	}
}
